.outBox {
    width : 100%;
}


.innerBox{
    border-radius: 10px;
    height: 400px;
    width: 90%;
    top: 50%;
    left: 50%;
    margin: auto;
    background: rgb(238, 238, 238);
    border: 1px solid rgb(225, 228, 232);
}

.cardAll{
    top :8%;
    position:relative;
    display : flex;
    align-items: center;
    height: 90%;
}

.cardAll .item{
    position: relative;
    min-width : 500px;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}


.cardAll .item .mediaWrap{
    border-radius: 10px;
    float: left;
    width:65%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.7);;
    background-clip : content-box;
    text-align: center;
}

.cardAll .item .mediaWrap > img{
    position:relative;
    vertical-align:middle;
    top:25%;
    width:98%;
    background-color : white;
}
.cardAll .item .mediaWrap > video{
    position:relative;
    vertical-align:middle;
    top:25%;
    width:98%;
    background-color : white;
}


.cardAll .item .textWrap{
    border-radius: 10px;
    float:right;
    width: 35%;
    height: 95%;
    background-color: white;
    background-clip : content-box;
}